@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo ao portal do Jovem Programador!</h1>
    <p>O JOVEM PROGRAMADOR é um PROGRAMA de capacitação tecnológica para formação de jovens, de 16 a 35 anos, para atuar em empresas do Estado de Santa Catarina, independentemente do local onde estejam instaladas.</p>
    <p>O curso permite que jovens possam se capacitar em Tecnologia da Informação através do parceiro de ensino, o Senac - Serviço Nacional de Aprendizagem Comercial - que dispõe de ampla experiência na área de formação e capacitação de profissionais e disponibilizará as instalações em aproximadamente 20 municipios de Santa Catarina.</p>
    <p>Os jovens terão infraestrutura técnica e terão aulas de forma hibrida, presencial e virtual.</p>
    <p>A empregabilidade é o foco do PROGRAMA, que não mede esforços de gerar oportunidade aos alunos egressos do PROGRAMA nas empresas parceiras. O objetivo é proporcionar aos alunos uma possibilidade de demonstrar suas habilidades perante as empresas patrocinadoras.</p>
    <p>O PROGRAMA se destina a jovens:</p>
    <p>
    <ul class="list-group">
    <li class="list-group-item">Com idade entre 16 e 35 anos:</li>
    <li class="list-group-item">A partir do 1º ano do ensino médio;</li>
    <li class="list-group-item">Que residam nas cidades beneficiadas pelo programa ou em cidades vizinhas</li>
    </ul></p>
    <p>O PROGRAMA é de iniciativa do Sindicato das Empresas de Informática, Processamentos de Dados e Tecnologia da Informação do Estado de Santa Catarina - SEPROSC e realização do SENAC.</p>
    <p>Para a edição de 2022 as cidades são:</p>
    <p>Blumenau, Brusque, Caçador, Chapecó, Concórdia, Criciúma, Florianópolis, Jaraguá do Sul, Joaçaba, Joinville, Lages, Palhoça, Pinhalzinho, Rio do Sul e São Bento, São Miguel do Oeste, Tubarão, Videira, Xanxerê.</p>
</div>
