<ul>
    <li>Lógica de programação</li>
    <li>Algoritmos</li>
    <li>Expressões Aritméticas</li>
    <li>Variáveis e tipos</li>
    <li>Padrão Camel Case</li>
    <li>Estrutura Sequencial</li>
    <li>Estrutura Condicional</li>
    <li>Estruturas Repetitivas</li>
    <li>Vetores</li>
    <li>Matrizes</li>
    <li>Debug</li>
    <li>Programação Orientação a Objetos</li>
    <li>Classes</li>
    <li>Métodos</li>
    <li>Conexão da aplicação com o banco de dados</li>
    <li>Testes Unitários</li>
    <li>Programação Web: MVC(Model - View - Controller)</li>
    <li>CRUD</li>
    <li>Chamada de api</li>
    <li>Uso do Git e Github</li>
    <li>Branch</li>
    <li>Publicar projeto</li>
</ul>