@model AlunoModel

<form asp-controller="Alunos" asp-action="InserirAluno" method="post">

    <div class="mb-3">
        <label for="InputNome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control col-md-6">
    </div>

    <div class="mb-3">
        <label for="InputIdade" class="form-label">Idade</label>
        <input type="text" asp-for="Idade" class="form-control col-md-1">
    </div>

    <div class="mb-3">
        <label for="InputContato" class="form-label">Contato</label>
        <input type="text" asp-for="Contato" class="form-control col-md-4" placeholder="(00) 99999-9999">
    </div>

    <div class="mb-3">
        <label for="InputEmail" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control col-md-4">
    </div>

    <div class="mb-3">
        <label for="InputCEP" class="form-label">CEP</label>
        <input type="text" asp-for="CEP" class="form-control col-md-4" placeholder="00000-000">
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Adicionar</button>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
    </div>

</form>